<div class="container">
    <div *ngIf="produitCurrent" class="order-1 order-lg-2">
        <div id="productMain" class="row">
          <div class="col-md-6">
            <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
              <div class="item"> <img [src]="produitCurrent.image" alt="" class="img-fluid im"></div>
            </div>
            <!-- /.ribbon-->
          </div>
          <div class="col-md-6">
            <div class="box">
              <h1 class="text-center">{{ produitCurrent.nom }}</h1>
              <p class="goToDescription">{{ produitCurrent.marque }}</p>
              <p class="price">{{produitCurrent.prix |currency:'EUR'}}</p>
	      <p>{{produitCurrent.dateCreation | date:"yyyy-dd-mm"}}</p>
          <div>
            <a (click)="goBack()">Retour</a>
        </div>

            
          </div>
        </div>
        <div id="details" class="box">
          <p></p>
          <h4>{{ produitCurrent.nom }}</h4>
          <p>{{ produitCurrent.description }}</p>
        </div>
        
</div>