.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px 5px 10px 5px;
	background-color: yellow;
}

.page{
	background-color: orange;
}

.bloc1, .bloc2, .bloc3{	 	
	background-color: blue;
}

section div{
	margin-right: 10px ;
	border-radius: 25px;
	float: left;
	width: 300px;
	min-height: 100px;
}

section{
	margin-top: 20px;
}

.footer{
	float:left ;
	background-color: lightpink;
}